.next{
	position: absolute;
	top: 400px;
	left: 250px;
}

.sun-wrapper {
	height: 200px;
	width: 200px;
	overflow: hidden;
	border: 1px solid black;
	background-color: lightblue;
	transition: background 4s ease-in-out;

}

.sun-wrapper:hover .sun {
	background-color: #ff2b0f;
	transform: translateY(200px);

}

.sun {
	width: 200px;
	height: 200px;
	background-color: orange;
	border-radius: 100px;
	transition-duration: 4s, 4s;
	transition-property: background-color, transform;
	transition-timing-function: ease-in-out, linear;
	animation-name: sunset;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;
	



}

@keyframes sunset {
	from{
		transform: translateY(200px);
}
	to{
		transform: translateY(0px);
	}
}

.moon-wrapper{
	height: 200px;
	width: 200px;
	border: 1px solid blue;
	background-color: black;
	overflow: hidden;
	animation-name: moon-sky;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;

}

.moon{
	height: 200px;
	width: 200px;
	border-radius: 100px;
	background-color: lightyellow;
	animation-name: riseandset;
	animation-duration: 8s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-direction: alternate;


}

@keyframes riseandset {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-200px);
		background-color: gold;
	}
}

@keyframes moonsky {
	0%{
		background-color: lightblue;
	}
	50%{
		background-color: red;
	}
	100%{
		background-color: black;
	}
}

